$blue: #4078c0;

body {

    font-family: 'Raleway', sans-serif;
       
    h1 { 
        color: black;
    } 

}
   
.coming-soon {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100%; 
    
    .message {
        display: flex;
        flex: 1;
        /*background: $blue;*/
        display: block;
        box-sizing: border-box;
        text-align: center;
    }
}

.clearfix {
    overflow: auto;
    zoom: 1;
}
