<div class="home-wrapper clearfix container">
    <div class="coming-soon">
        <div class="message">
            <img class="logo" src="img/thunder.png"/>
            <h2>Angular ES6 Boilerplate with Webpack</h2>
            <demo-directive binding-example="Directive Binding Example"></demo-directive>
            <a href="https://mikatalk.github.io/angular-es6-s3-boilerplate/#/404" >Routes (404 Example)</a>
            <a href="https://github.com/mikatalk/angular-es6-s3-boilerplate" >Source on Github</a>
        </div>
    </div>
</div>
